{% extends 'website.html' %}

{% block content %}

<style>
.copyright{
    font-weigth:bold;
    color:white;
}
 .pad-wrapper{
        font-family:monaco;
        font-weight:normal;
    }
    .text-center{
        font-family:Times New Roman;
        font-weight:bold;
    }
</style>
<h1 class = "text-center my-4">About Us</h1>
<div class="containre-fluid mx-4" ng-if="$root.channel == 'desktop'">
            <div class="row">
                    <div class="col-md-12 pad-0 style">
                        <section class="pad-wrapper">
                        <h1>Buy Donuts and Cakes Online</h1><hr/>

Imagine, you are craving for ice cream, greek yogurt or for any other bakery products at night, but you can't go out to the offline bakery stores. You don't need to get worried when you can order dairy products online anytime and anywhere from online bakery on Bigbasket. You can order milk and dairy products online and get them delivered on time and in the right place at your doorsteps. On Bigbasket we have a huge bakery products list such as birthday cake, condensed milk, mozzarella cheese, and many other items too.

A bowl of Greek yogurt can keep you fortified with essential nutrients and even help you lose weight. For many Greek yogurt lovers, the richer texture is also a big sell. Greek yogurt is made by separating out the liquid whey. Protein is essential for good health. It is vital to cell growth, building muscle, and repairing tissue. As you age, you need more protein to keep your skin healthy and to fight off illness. Greek yogurt is a great way to boost your protein levels while avoiding heavy foods like meats. Known as yogurt or dahi, the curd is one of the staples in all our kitchen pantries. And for good reason, always convenient to be paired with any of our daily meals, the uses of curd extend beyond just curd recipes. Curd has amazing health and beauty benefits that can be enjoyed by incorporating just one bowl every day in our diet. And all these healthy items you can get on one of the most trusted platform i.e. on Bigbasket.

Apparently, an ounce of mozzarella cheese contains 18 percent of your daily intake of calcium - which aids the health of your bone structure and even manages to strengthen your pearly whites! This velvety smooth cheese also contains phosphorus, a mineral that allows the body to use the aforementioned calcium. Condensed milk is used in numerous dessert dishes in many countries. Soy milk, a healthy nutritious drink, is made from soybeans that are soaked, ground and boiled with water. Soy is a great source of essential fatty acids, fiber, vitamins, proteins, and minerals. These nutrients play an important role in providing you energy and keeping your body functioning well. We have a separate cake bakery too on Bigbasket from where you can choose your favourite cake according to the occasion.

On Bigbasket, we offer you the best dairy products online at a great price, then why go to the offline stores where there is no assurance of their products. Here, on Bigbasket, we are committed to our customers. And we assure you about the quality of our products. We always try to maintain the standard of our products at high so that your expectations couldn't hurt. Time is money, then why waste both precious things in shopping from offline stores when you can get your desired products online from dairy products list on Bigbasket without disturbing your normal daily routine. Hurry up! Start your shopping now.
<hr/>
<h2>Wide Range of Products</h2>
The exhaustive list of dairy products enlisted by bigbasket covers an array of various breads, dairy and eggs under a single head. With innumerable varieties of butters and creams that can be ordered, you have the advantage of relishing milk drinks along with branded ice creams and desserts. Offering different brands, you can choose different varieties of milk including cow milk, whole milk, flavoured soya milks and skimmed milk.
For people who love to dig into a tub of curd, a number of curd varieties including slim curd, natural set curd and flavoured yoghurts come as an attraction. Protein-rich cheese, cheese slices paneer, paneer cubes and tofu can be ordered as well.<hr/>
                        </section>
                    </div>
            </div>
        </div>
<br/>

{% endblock content %}