{% extends 'website.html' %}

{% block content %}
<div class= "container-fluid my-4">
    <blockquote class="blockquote">
     <center> <p style = "color: red;"><marquee> Hurry!!! Grab Yours today.. 30% discount on purchase of $20. Use Coupon code "Dunkin20" to avail the discount.</marquee></p></center>
    </blockquote>
<center><h3 class = "text-group my-4" style="color:Teal;"> Please choose from a variety of delicious donuts</h3></center>
</div>

<div class= "container my-5">
<div class="row row-cols-1 row-cols-md-2 g-4 ">
  <div class="col">
    <div class="card">
      <img src="/static/4.jpg" class="rounded mx-auto d-block" alt="..." width=200 height=200>
      <div class="card-body">
        <h5 class="card-title">Combo</h5>
        <p class="card-text">Pack of six tasty Donuts.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/static/5.jpg" class="rounded mx-auto d-block" alt="..." width=200 height=200>
      <div class="card-body">
        <h5 class="card-title">Choco Bust Donut</h5>
        <p class="card-text">Pack of Four to Eat.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/static/6.jpg" class="rounded mx-auto d-block" alt="..." width=200 height=200>
      <div class="card-body">
        <h5 class="card-title">Waffer-NUT</h5>
        <p class="card-text">Get your Now . Looks Solid but buttery inside.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/static/7.jpg" class="rounded mx-auto d-block" alt="..." width=200 height=200>
      <div class="card-body">
        <h5 class="card-title">Customize</h5>
        <p class="card-text">We also have customizations as per your mood.</p>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}