{% extends 'website.html' %}

{% block content %}
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/3.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/1349x380/?people" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/1349x380/?sunrise" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
<div class= "container-fluid my-4">
    <blockquote class="blockquote">
     <center> <p><marquee>Grab Yours today.. 30% discount on purchase of $20. Use Coupon code "Dunkin20" to avail the discount.</marquee></p></center>
    </blockquote>
<center><h3 class = "text-group my-4"> Please choose from a variety of delicious donuts</h3></center>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="/static/4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Combo</h5>
        <p class="card-text">Pack of six tasty Donuts.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/static/5.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Choco Bust Donut</h5>
        <p class="card-text">Pack of Four to Eat.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/static/6.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Waffer-NUT</h5>
        <p class="card-text">Get your Now . Looks Solid but buttery inside.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/static/7.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Customize</h5>
        <p class="card-text">We also have customizations as per your mood. So grab yours now and enjoyyy!!!!</p>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}