{% extends 'base.html' %}

{% block title %}Contact
{% endblock title %}
{% block content %}
<style>.text-center{
        font-family:Times New Roman;
        font-weight:bold;
    }</style>
<h1 class = "text-center my-4">Contact Us</h1>
<div class= "container-fluid">
<form method ="post" action = "/contact">
{% csrf_token %}
<div class="form-group">
  <label for="first_name" class="form-label">First Name</label>
  <input type="text" class="form-control" id="first_name" name ="first_name"placeholder="First Name">
</div>
<br/>
<div class="form-group">
  <label for="last_name" class="form-label">Last Name</label>
  <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name">
</div>
<br/>
<div class="form-group">
  <label for="email" class="form-label">Email address</label>
  <input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
</div>
<br/>
<div class="form-group">
  <label for="file" class="form-label">Upload Document</label>
  <input class="form-control form-control-sm" id="file" name="file" type="file">
</div>
<br/>
<div class="form-group">
  <label for="message" class="form-label">Message</label>
  <textarea class="form-control" id="message" name="message" rows="3"></textarea>
</div>
<br/>
 <div class="form-group">
    <button class="btn btn-primary" type="submit">Submit form</button>
  </div>
  <br/>
</div>
</form>
<br/>
{% endblock %}